<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="{{url_for('static', filename='assets/custom/style.css')}}">
        <title>{% block title %} Sign Up {% endblock %}</title>    
    </head>
    <body>
        <div class="container">
            <div class="forms">
                <div class="form signup">
                    <span class="title">Registration</span>
                    {% block content %}
                    <form method="POST">
                        <div class="input-field">
                            <input name="name" id="name" type="text" placeholder="Enter your name" required>
                            <i class="uil uil-user"></i>
                        </div>
                        <div class="input-field">
                            <input name="email"  id="email" type="email" placeholder="Enter your email" required>
                            <i class="uil uil-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input name="phone" id="phone" type="tel" placeholder="Enter your phone number" required>
                            <i class="uil uil-phone icon"></i>
                        </div>
                        <div class="input-field">
                            <input name="password" id="password" type="password" class="password" placeholder="Create a password" required>
                            <i class="uil uil-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
        
                        <div class="input-field button">
                            <input type="submit" value="Signup">
                        </div>
                    </form>
                    {% endblock %}
                    <div class="login-signup">
                        <span class="text">Already a member?
                            <a href="{{url_for('auth.login')}}" class="text login-link">Login Now</a>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
        <script src="{{url_for ('static', filename='assets/custom/script.js')}}"></script>
    </body>
</html>
